<div class="container">
	<%= image_tag("image5.jpg", alt: 'Description', :size => "1108x180")%>
	<div class="jumbotron text-center">
		 <h1>Home Page</h1>
 	</div>
 	<%= link_to 'Sign Up', sign_up_path, :class => "btn btn-info" %></td>
 	<%= link_to 'Log In', sign_in_path, :class => "btn btn-info" %></td>
 </div>