<div class="container">
	<%= image_tag("image5.jpg", alt: 'Description', :size => "1108x180")%>
	<div class="jumbotron text-center">
		 <h1>Login Page</h1>
 	</div>
 	<%= render 'form' %>
 	<%= link_to 'Sign Up', new_session_path, :class => "btn btn-info" %></td>
 	<%= link_to 'Back', root_path, :class => "btn btn-info" %></td>
 </div>