<div class="container">
	<%= image_tag("image5.jpg", alt: 'Description', :size => "1108x180")%>
	<div class="jumbotron text-center">
		 <h1>New Post Page</h1>
 	</div>
 	<%= render 'form' %>
 	<%= link_to 'Back', home_path, :class => "btn btn-info" %></td>
 </div>